-e .
aws-cdk.aws_ec2@1.121.0
aws-cdk.aws_apigateway@1.121.0
aws-cdk.aws_dynamodb@1.121.0
aws_cdk.aws_fsx@1.121.0
aws-cdk.aws_apigatewayv2@1.121.0
aws-cdk.aws_apigatewayv2_authorizers@1.121.0
aws-cdk.aws_apigatewayv2_integrations@1.121.0
aws_cdk.aws_s3_notifications@1.121.0
aws_cdk.aws_batch@1.121.0
aws_cdk.aws_ecs@1.121.0
aws_cdk.aws_events@1.121.0
aws_cdk.aws_events_targets@1.121.0
aws_cdk.aws_lambda_event_sources@1.121.0
aws_cdk.aws_s3_deployment@1.121.0